Capitulo 10/flujo/flows.json
[
    {
        "id": "84ab5eebb496a617",
        "type": "tab",
        "label": "Rules",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7cda47e5c0dd76db",
        "type": "mqtt in",
        "z": "84ab5eebb496a617",
        "name": "listen everything",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "bd8fb4b0428be5a6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "c14c552ae4fc0d44",
                "a79d18c09f0265fa"
            ]
        ]
    },
    {
        "id": "c14c552ae4fc0d44",
        "type": "function",
        "z": "84ab5eebb496a617",
        "name": "create query",
        "func": "// get microtime\nvar timestamp = new Date().getTime()/1000;\n\n// pad it with trailing zeroes\ntimestamp = timestamp.toString() + \"000\";\n\n//trim to exact lenbth 10 + 1 + 3\ntimestamp = timestamp.substring(0, 14);\n\nvar strQuery = \"INSERT INTO thingData (topic, payload, timestamp, deleted) VALUES ('\" + escape(msg.topic) + \"','\" + escape(msg.payload) + \"','\" + timestamp + \"', 0);\";\n\nmsg.topic = strQuery;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a79d18c09f0265fa",
        "type": "function",
        "z": "84ab5eebb496a617",
        "name": "search rules",
        "func": "msg.topic = \"SELECT * FROM ruleEngine\" +\n            \" WHERE\" +\n            \" ('\" + msg.topic + \"' LIKE topicPattern)\" +\n            \" AND\" +\n            \" ('\" + msg.payload + \"' LIKE payloadPattern)\" +\n            \" AND active=1\";\n            \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 180,
        "wires": [
            [
                "b11befb8bc686f3d"
            ]
        ]
    },
    {
        "id": "f0dd1ea9e78666e3",
        "type": "mysql",
        "z": "84ab5eebb496a617",
        "mydb": "2971b5fe04f05c57",
        "name": "",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "93fecb6691882e63"
            ]
        ]
    },
    {
        "id": "b11befb8bc686f3d",
        "type": "mysql",
        "z": "84ab5eebb496a617",
        "mydb": "2971b5fe04f05c57",
        "name": "",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "ad1d187316bae410"
            ]
        ]
    },
    {
        "id": "93fecb6691882e63",
        "type": "debug",
        "z": "84ab5eebb496a617",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "ad1d187316bae410",
        "type": "function",
        "z": "84ab5eebb496a617",
        "name": "call webhook",
        "func": "if(msg.payload.length !== 0)\n{\n    for(var i = 0; i < msg.payload.length; i++)\n    {\n        msg.method = msg.payload[i].method;\n        msg.url = msg.payload[i].webHook;\n        \n        node.send([msg]);\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 180,
        "wires": [
            [
                "9b6d4b0cda16dfe5"
            ]
        ]
    },
    {
        "id": "1c66cf3256860f0b",
        "type": "debug",
        "z": "84ab5eebb496a617",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 180,
        "wires": []
    },
    {
        "id": "9b6d4b0cda16dfe5",
        "type": "http request",
        "z": "84ab5eebb496a617",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 750,
        "y": 180,
        "wires": [
            [
                "1c66cf3256860f0b"
            ]
        ]
    },
    {
        "id": "bd8fb4b0428be5a6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node-red",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2971b5fe04f05c57",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "tSerieDB",
        "tz": "",
        "charset": "UTF8"
    }
]